# Добавляем переменные для Postgres-контейнера:
POSTGRES_USER=...      # 'postgres' by default
POSTGRES_PASSWORD=...  # Required
POSTGRES_DB=...        # $POSTGRES_USER by default

# Добавляем переменные для Django-проекта:
DB_HOST=...            # DB container address (usually container name)
DB_PORT=...            # DB container port number
